@(candidate: String, version: String, platform: String)
#!/bin/bash
function __sdkman_post_installation_hook {
    __sdkman_echo_debug "A @platform post-install hook was found for @candidate @version."

    __sdkman_validate_binary_input "$binary_input" || return 1

    local work_dir="${SDKMAN_DIR}/tmp/out"
    local cookie_file="${SDKMAN_DIR}/var/cookie"

    echo "Repackaging @candidate @version..."

    mkdir -p "$work_dir"
    /usr/bin/env tar zxf "$binary_input" -C "$work_dir"

    local present_dir="$(pwd)"
    cd "$work_dir"
    /usr/bin/env zip -qr "$zip_output" .
    cd "$present_dir"

    echo ""
    echo "Done repackaging..."
    echo ""
    __sdkman_echo_debug "Cleaning up cookie..."
    rm "$cookie_file"
}

function __sdkman_validate_binary_input {
    if ! tar tzf "$1" &> /dev/null; then
        echo "Download has failed, aborting!"
        echo ""
        echo "Can not install java 8u101 at this time..."
        return 1
    fi
}