@import domain.Platform
@(candidate: String, version: String, platform: Platform)
#!/bin/bash
function __sdkman_post_installation_hook {
    __sdkman_echo_debug "A @{platform.name} post-install hook was found for @{candidate.capitalize} @version."

    local present_dir="$(pwd)"
    local work_dir="${SDKMAN_DIR}/tmp/out"
    local cookie_file="${SDKMAN_DIR}/var/cookie"

    echo ""
    echo "Repackaging @candidate @version..."

    mkdir -p "$work_dir"
    cd "$work_dir"

    chmod +x "$binary_input"
    "$binary_input" &> /dev/null

    /usr/bin/env zip -qr "$zip_output" .
    cd "$present_dir"

    echo ""
    echo "Done repackaging..."
    __sdkman_echo_debug "Cleaning up cookie..."
    rm "$cookie_file"
}